<!-- Footer -->
<section class= "max-w-7xl mx-auto px-8 sm:px-6 lg:px-8 py-8 bg-red-600 text-white" id="contact-section">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-7xl mx-auto">
        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-8">Contact Us</h2>
            <p class="mb-8">For reservations or any inquiries, please feel free to contact us:</p>
            <p class="mb-2">Phone: 123-456-7890</p>
            <p>Email: mexicankitchen@restaurant.com</p>
        </div>

        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-8">Let's Connect</h2>
            <p><a class="mb-2" href="https://www.facebook.com/" target="_blank">Facebook</a></p>
            <p><a class="mb-2" href="https://twitter.com/" target="_blank">Twitter</a></p>
            <p><a class="mb-2" href="https://www.instagram.com/" target="_blank">Instagram</a></p>
        </div>
    </div>
</section>
