<!-- Footer -->
<section class= "mx-auto px-8 sm:px-6 lg:px-8 py-8 bg-red-600 text-white" id="contact-section">
    <div class="grid grid-cols-3 sm:grid-cols-3 gap-8 max-w-7xl mx-auto">
        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-8">Contact Us</h2>
            <p class="mb-8">For reservations or any inquiries, please feel free to contact us:</p>
            <p class="mb-2">Phone: 123-456-7890</p>
            <p>Email: mexicankitchen@restaurant.com</p>
        </div>

        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-8">Let's Connect</h2>

            <div class="flex">
                <a href="https://facebook.com/">
                    <img class="h-6 mx-2" src="assets/icon_FB.png" alt="Twitter Icon">
                </a>
                
                <a class="mb-2" href="https://facebook.com/" target="_blank">Facebook</a>
            </div>

            <div class="flex">
                <a href="https://twitter.com/">
                    <img class="h-6 mx-2" src="assets/icon_TW.png" alt="Twitter Icon">
                </a>
                
                <a class="mb-2" href="https://twitter.com/" target="_blank">Twitter</a>
            </div>

            <div class="flex">
                <a href="https://instagram.com/">
                    <img class="h-6 mx-2" src="assets/icon_IG.png" alt="Instagram Icon">
                </a>
                
                <a class="mb-2" href="https://instagram.com/" target="_blank">Instagram</a>
            </div>
        </div>

        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-8">Legal</h2>
            <p>Privacy Policy</p>
        </div>
    </div>

</section>
<section class="bg-red-700 text-white p-4">
    <p class="text-right">
        © 2023 Mexican Kitchen
    </p>
    
</section>