<!--Menu Itenms-->
<section class="max-w-7xl mx-auto px-8 sm:px-6 lg:px-8 py-8" id="menu-section">
    <div class="container mx-auto">

      <!--div *ngIf="menu !=true" class="bg-red-500 shadow-md p-2 my-5 max-w-fit" (click)="menuToggle()" style="cursor:pointer;">
        <h3 class="text-xl font-bold m-2 text-white">< Back To Menu</h3>
      </div-->

      <nav class=" text-black p-4">
        <div class="container mx-auto flex justify-between items-center relative">
          
          <!-- Mobile Menu Button -->
          <button class="flex items-center justify-center sm:hidden text-2xl font-bold relative">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path d="M4 6h16M4 12h16M4 18h16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
      
          <!-- Desktop Navigation Links -->
          <ul class="hidden sm:flex space-x-4 relative align-middle" id="nav-links">
            <li [class]="menu === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-gray-300 text-3xl font-bold" 
                (click)="menuToggle()" style="cursor:pointer;">Menu</Button>
            </li>

            <li [class]="appetizers === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-gray-300 text-3xl font-bold"
                (click)="appetizersToggle()" style="cursor:pointer;">Appetizers</Button>
            </li>

            <li [class]="soupsAndSalads === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-gray-300 text-3xl font-bold" 
                (click)="soupsAndSaladsToggle()" style="cursor:pointer;">Soups and Salads</Button>
            </li>

            <li [class]="tacos === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-gray-300 text-3xl font-bold" 
                (click)="tacosToggle()" style="cursor:pointer;">Tacos</Button>
            </li>

            <li [class]="enchiladas === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-gray-300 text-3xl font-bold" 
                (click)="enchiladasToggle()" style="cursor:pointer;">Enchiladas</Button>
            </li>

            <li [class]="desserts === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-gray-300 text-3xl font-bold" 
                (click)="dessertsToggle()" style="cursor:pointer;">Desserts</Button>
            </li>

            <li [class]="beverages === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-gray-300 text-3xl font-bold" 
                (click)="beveragesToggle()" style="cursor:pointer;">Beverages</Button>
            </li>
          </ul>

        </div>
      </nav>
      
      
      <!--Food Categories-->
      <!--h2  *ngIf="menu" class="text-6xl mb-8">Menu</h2-->
      <div *ngIf="menu" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <div class="bg-white shadow-lg p-4" (click)="appetizersToggle()" style="cursor:pointer;">
            <img src="assets\Food\guacamoleAndChips.jpg" alt="Appetizers" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">Appetizers</h3>
            <p class="text-gray-600">Guacamole and Chips</p>
            <p class="text-gray-600">Queso Fundido</p>
            <p class="text-gray-600">Ceviche</p>
            <p class="text-gray-600">Taquitos</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="soupsAndSaladsToggle()" style="cursor:pointer;">
            <img src="assets\Food\pozole.jpg" alt="Soups and Salads" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">Soups and Salads</h3>
            <p class="text-gray-600">Tortilla Soup</p>
            <p class="text-gray-600">Chicken Mexican Salad</p>
            <p class="text-gray-600">Pozole</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="tacosToggle()" style="cursor:pointer;">
            <img src="assets\Food\tacos.jpg" alt="Tacos" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">Tacos</h3>
            <p class="text-gray-600">Carne Asada Tacos</p>
            <p class="text-gray-600">Al Pastor Tacos</p>
            <p class="text-gray-600">Baja Fish Tacos</p>
            <p class="text-gray-600">Vegetarian Tacos</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="enchiladasToggle()" style="cursor:pointer;">
            <img src="assets\Food\enchiladas.jpg" alt="Enchiladas" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">Enchiladas</h3>
            <p class="text-gray-600">Chicken Enchiladas</p>
            <p class="text-gray-600">Cheese and Spinach Enchiladas</p>
            <p class="text-gray-600">Enchiladas Suizas</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="dessertsToggle()" style="cursor:pointer;">
            <img src="assets\Food\cake.jpg" alt="Desserts" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">Desserts</h3>
            <p class="text-gray-600">Flan</p>
            <p class="text-gray-600">Churros</p>
            <p class="text-gray-600">Tres Leches Cake</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="beveragesToggle()" style="cursor:pointer;">
            <img src="assets\Food\margaritas.jpg" alt="Beverages" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">Beverages</h3>
            <p class="text-gray-600">Margaritas</p>
            <p class="text-gray-600">Agua Frescas</p>
            <p class="text-gray-600">Mexican Beer</p>
          </div>
      </div>
      
      <!--Appetizers-->
      <!--h2  *ngIf="appetizers" class="text-6xl mb-8">Appetizers</h2-->
      <div *ngIf="appetizers" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4" >
          <img src="assets\Food\guacamoleAndChips.jpg" alt="Guacamole and Chips" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Guacamole and Chips</h3>
          <p class="text-gray-600">Delight in creamy guacamole paired with crispy tortilla chips for a satisfying appetizer</p>
          <span class="text-red-500 font-bold">$2.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\quesoFundido.jpg" alt="Queso Fundido" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Queso Fundido</h3>
          <p class="text-gray-600">Hot melted cheese and spicy chorizo that is often served flambé</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\ceviche.jpg" alt="Ceviche" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Ceviche</h3>
          <p class="text-gray-600">Marinated shrimp in citrus juices, combined with herbs and vegetables for a refreshing seafood experience</p>
          <span class="text-red-500 font-bold">$6.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\taquitos.jpg" alt="Taquitos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Taquitos</h3>
          <p class="text-gray-600">Savory shredded chicken wrapped in crispy tortillas</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Soups and Salads-->
      <!--h2  *ngIf="soupsAndSalads" class="text-6xl mb-8">Soups and Salads</h2-->
      <div *ngIf="soupsAndSalads" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\tortillaSoup.jpg" alt="Tortilla Soup" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Tortilla Soup</h3>
          <p class="text-gray-600">Savory shredded chicken wrapped in crispy tortillas</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\chickenMexicanSalad.jpg" alt="Chicken Mexican Salad" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Chicken Mexican Salad</h3>
          <p class="text-gray-600">Grilled chicken, crisp lettuce, vibrant veggies, zesty dressing</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\pozole.jpg" alt="Pozole" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Pozole</h3>
          <p class="text-gray-600">Savor the flavors of Pozole: a hearty Mexican soup with tender pork, hominy, and aromatic spices</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Tacos-->
      <!--h2  *ngIf="tacos" class="text-6xl mb-8">Tacos</h2-->
      <div *ngIf="tacos" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\carneAsadaTacos.jpg" alt="Carne Asada Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Carne Asada Tacos</h3>
          <p class="text-gray-600">Grilled steak in warm tortillas with fresh toppings</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\alPastorTacos.jpg" alt="Al Pastor Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Al Pastor Tacos</h3>
          <p class="text-gray-600">Marinated pork, warm tortillas, vibrant toppings</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\bajaFishTacos.jpg" alt="Baja Fish Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Baja Fish Tacos</h3>
          <p class="text-gray-600">Crispy fish fillets, nestled in warm tortillas, topped with fresh ingredients</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\vegetarianTacos.jpg" alt="Vegetarian Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Vegetarian Tacos</h3>
          <p class="text-gray-600">Fresh veggies, savory beans, zesty toppings in warm tortillas</p>
          <span class="text-red-500 font-bold">$3.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Enchiladas-->
      <!--h2  *ngIf="enchiladas" class="text-6xl mb-8">Enchiladas</h2-->
      <div *ngIf="enchiladas" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\chickenEnchiladas.jpg" alt="Chicken Enchiladas" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Chicken Enchiladas</h3>
          <p class="text-gray-600">Tender chicken wrapped in tortillas, smothered with flavorful sauce and melted cheese</p>
          <span class="text-red-500 font-bold">$8.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\cheeseAndSpinachEnchiladas.jpg" alt="Cheese and Spinach Enchiladas" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Cheese and Spinach Enchiladas</h3>
          <p class="text-gray-600">Creamy cheese, flavorful spinach, tortillas, savory sauce</p>
          <span class="text-red-500 font-bold">$6.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\enchiladasSuizas.jpg" alt="Enchiladas Suizas" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Enchiladas Suizas</h3>
          <p class="text-gray-600">Rolled tortillas filled with savory chicken, smothered in creamy Swiss cheese sauce</p>
          <span class="text-red-500 font-bold">$7.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Desserts-->
      <!--h2  *ngIf="desserts" class="text-6xl mb-8">Desserts</h2-->
      <div *ngIf="desserts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\flan.jpg" alt="Flan" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Flan</h3>
          <p class="text-gray-600">Creamy caramel-infused custard dessert</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\churros.jpg" alt="Churros" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Churros</h3>
          <p class="text-gray-600">Crispy fried dough pastry, dusted with cinnamon sugar</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\tresLechesCake.jpg" alt="Tres Leches Cake" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Tres Leches Cake</h3>
          <p class="text-gray-600">\Ultra light cake soaked in a sweet milk mixture</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Beverages-->
      <!--h2  *ngIf="beverages" class="text-6xl mb-8">Beverages</h2-->
      <div *ngIf="beverages" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\margarita.jpg" alt="Appetizers" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Margaritas</h3>
          <p class="text-gray-600">A refreshing blend of tequila, lime juice, and a touch of sweetness, served with a salted rim for a perfect balance of flavors</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\aguaFresca.jpg" alt="Soups and Salads" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Agua Frescas</h3>
          <p class="text-gray-600">Refreshing and fruity beverages made with fresh ingredients like watermelon, cucumber, or hibiscus, offering a cool and revitalizing sip</p>
          <span class="text-red-500 font-bold">$2.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\mexicanBeer.jpg" alt="Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Mexican Beer</h3>
          <p class="text-gray-600">Crisp and flavorful brews with a touch of zest and a hint of tradition</p>
          <span class="text-red-500 font-bold">$3.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

    </div>
</section>