<!--Image-->
<div class="relative overflow-hidden" style="padding-top: 50%;">
    <img class="absolute top-0 left-0 w-full max-h-fit object-cover" src="assets\pands.jpg" alt="Image">
</div>

<!-- Specials -->
<section class="max-w-7xl mx-auto px-8 sm:px-6 lg:px-8 py-8" id="specials-section">
    <div class="container mx-auto">
        <h2 class="text-6xl mb-8">Specials</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white shadow-lg p-4">
                <img src="assets\Food\shrimpCocktail.jpg" alt="Shrimp Cocktail" class="w-full h-auto mb-4">
                <h3 class="text-xl font-bold mb-2">Shrimp Cocktail</h3>
                <p class="text-gray-600">Succulent shrimp, crisp lettuce, and tangy sauce.</p>
                <span class="text-red-500 font-bold">$6.99</span>
            </div>
            
            <div class="bg-white shadow-lg p-4">
                <img src="assets\Food\fajitaQuesadilla.jpg" alt="Fajita Quesadilla" class="w-full h-auto mb-4">
                <h3 class="text-xl font-bold mb-2">Fajita Quesadilla</h3>
                <p class="text-gray-600">Cheesy and loaded, the big fajita quesadilla is a flavor-packed sensation.</p>
                <span class="text-red-500 font-bold">$4.99</span>
            </div>
            <div class="bg-white shadow-lg p-4">
                <img src="assets\Food\chickenNachos.jpg" alt="Chicken Jalapeño Nachos" class="w-full h-auto mb-4">
                <h3 class="text-xl font-bold mb-2">Chicken Jalapeño Nachos</h3>
                <p class="text-gray-600">Nacho chips toped with grilled chicken, melted fiesta blend cheese, and jalapenos</p>
                <span class="text-red-500 font-bold">$5.99</span>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>